@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

/* Fonts */

@font-face{
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?p10s2o');
	src: url('fonts/icomoon.eot?p10s2o#iefix') format('embedded-opentype'),
	     url('fonts/icomoon.ttf?p10s2o') format('truetype'),
	     url('fonts/icomoon.woff?p10s2o') format('woff'),
	     url('fonts/icomoon.svg?p10s2o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"]{
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body, div, span, h1, h2, h3, h4, p{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1.0em;
}

a:link{
	color: #010101;
}

a:visited{
	color: #010101;
}

a:hover{
	color: #010101;
}

a:active{
	color: #000033;
}

html{
	width: 100%;
	height: 100%;
	font-size: 0.7em;
	overflow-x: hidden;
}

body{
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: 'Noto Sans JP', "Noto Sans Japanese", sans-serif;
	font-weight: normal;
	line-height: 1.2em;
	color: #010101;
	background-color: #4a4d54;
}

#header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: middle;
	z-index: 300;
	background-color: #ffffff;
	border-collapse: collapse;
	border-bottom: 1px solid #cccccc;
}

#subheader{
	display: none;
}

#wrapper{
	width: 100%;
	margin: 60px 0 0;
	padding: 0;
	text-align: center;
	background-color: #fcfdff;
}

#footer{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	background-color: #4a4d54;
}

#nav-drawer-trs{
	position: fixed;
	top: 0;
	right: 0;
	width: 60px;
	height: 45px;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	z-index: 300;
}

#nav-drawer-trs a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.nav-drawer-trs-icon::before{
	content: "\f1ab";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #4c368b;
	font-size: 2.0em;
	text-align: center;
	vertical-align: middle;
	line-height: 36px;
}

.nav-drawer-trs-icon:hover::before{
	transition: ease-in-out .2s;
	color: #cec4e8;
}

#nav-drawer{
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	background-color: #4c368b;
	display: inline-block;
}

.nav-unshown{
	display: none;
}

#nav-open::before{
	content: "\f0c9";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #ffffff;
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
	line-height: 58px;
}

#nav-content{
	position: fixed;
	top: 61px;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	z-index: 200;
	width: 80%;
	max-width: 240px;
	height: 100%;
	background-color: #4a4d54;
	transition: .3s ease-in-out;
	-moz-transform: translateX(-105%);
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%);
}

#nav-content ul{
	width: 100%;
	max-width: 240px;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
	font-size: 0.9em;
	vertical-align: middle;
	line-height: 2.8em;
	color: #dddddd;
}

#nav-content li{
	width: 100%;
	margin: 0;
}

#nav-content li:hover{
	background-color: #139beb;
	transition: .1s all;
}

#nav-content a{
	display: block;
	color: #dddddd;
}

.phonebtn{
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.phonebtn-home::before{
	width: 40px;
	padding: 0 0.2em 0 0.5em;
	text-align: center;
	vertical-align: middle;
	content: "\f015";
	font-family: "Font Awesome 5 Free";
	font-size: 1.3em;
	font-weight: 900;
	display: inline-block;
}

.phonebtn-research::before{
	width: 40px;
	padding: 0 0.2em 0 0.5em;
	text-align: center;
	vertical-align: middle;
	content: "\f19d";
	font-family: "Font Awesome 5 Free";
	font-size: 1.3em;
	font-weight: 900;
	display: inline-block;
}

.phonebtn-thesis::before{
	width: 40px;
	padding: 0 0.2em 0 0.5em;
	text-align: center;
	vertical-align: middle;
	content: "\f0eb";
	font-family: "Font Awesome 5 Free";
	font-size: 1.3em;
	font-weight: 900;
	display: inline-block;
}

.phonebtn-members::before{
	width: 40px;
	padding: 0 0.2em 0 0.5em;
	text-align: center;
	vertical-align: middle;
	content: "\f0c0";
	font-family: "Font Awesome 5 Free";
	font-size: 1.3em;
	font-weight: 900;
	display: inline-block;
}

.phonebtn-photos::before{
	width: 40px;
	padding: 0 0.2em 0 0.5em;
	text-align: center;
	vertical-align: middle;
	content: "\f030";
	font-family: "Font Awesome 5 Free";
	font-size: 1.3em;
	font-weight: 900;
	display: inline-block;
}

.phonebtn-links::before{
	width: 40px;
	padding: 0 0.2em 0 0.5em;
	text-align: center;
	vertical-align: middle;
	content: "\f0c1";
	font-family: "Font Awesome 5 Free";
	font-size: 1.3em;
	font-weight: 900;
	display: inline-block;
}

.phonebtn-news::before{
	width: 40px;
	padding: 0 0.2em 0 0.5em;
	text-align: center;
	vertical-align: middle;
	content: "\f1ea";
	font-family: "Font Awesome 5 Free";
	font-size: 1.3em;
	font-weight: 900;
	display: inline-block;
}

.phonebtn-access::before{
	width: 40px;
	padding: 0 0.2em 0 0.5em;
	text-align: center;
	vertical-align: middle;
	content: "\f239";
	font-family: "Font Awesome 5 Free";
	font-size: 1.3em;
	font-weight: 900;
	display: inline-block;
}

.phonebtn-eng::before{
	width: 40px;
	padding: 0 0.2em 0 0.5em;
	text-align: center;
	vertical-align: middle;
	content: "\f57d";
	font-family: "Font Awesome 5 Free";
	font-size: 1.3em;
	font-weight: 900;
	display: inline-block;
}

#nav-input:checked ~ #nav-close{
	display: block;
	opacity: 0.5;
}

#nav-input:checked ~ #nav-content{
	-moz-transform: translateX(0%);
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	box-shadow: 0px 15px 15px rgba(0,0,0.15);
}

#nav-input:checked ~ #nav-open::before{
	content: "\f00d";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #ffffff;
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
	line-height: 58px;
}

.nav-link{
	width: 40%;
	max-width: 100px;
	margin: 10px auto 80px;
	padding: 5px;
	display: inline-block;
}

.nav-link a{
	width: 100%;
	height: 100%;
	display: block;
}

.nav-link img{
	width: 100%;
}

.header-item{
	display: none;
}

.header-img1{
	display: none;
}

.header-img2{
	display: none;
}

.header-item2{
	width: 100%;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 500px) {

	.header-title{
		height: 60px;
		margin: 0;
		padding: 0 0 0 70px;
		text-align: left;
		vertical-align: middle;
		display: inline-block;
	}

	.header-title a{
		text-decoration: none;
	}

	.sub-title{
		vertical-align: text-bottom;
		font-size: 1.0em;
		font-weight: bold;
		line-height: 60px;
	}

	.main-title{
		vertical-align: text-bottom;
		font-size: 1.0em;
		font-weight: bold;
		line-height: 60px;
	}

	.phone-br1{
		display: none;
	}

}

@media screen and (max-width: 499px) {

	.header-title{
		height: 60px;
		margin: 0;
		padding: 0.25em 0 0 70px;
		text-align: left;
		vertical-align: middle;
		display: inline-block;
	}

	.header-title a{
		text-decoration: none;
	}

	.sub-title{
		vertical-align: text-bottom;
		font-size: 0.8em;
		font-weight: bold;
		line-height: 0.8em;
	}

	.main-title{
		vertical-align: text-bottom;
		font-size: 1.0em;
		font-weight: bold;
		line-height: 1.0em;
		letter-spacing: 0.1em;
	}

}

.header-eng{
	display: none;
}

.header-eng::after{
	position: fixed;
	top: 0;
	right: 0;
	content: "\f0ac";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #4c368b;
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
	line-height: 58px;
	width: 56px;
	height: 60px;
	display: inline-block;
	border-collapse: collapse;
	border-left: 1px solid #cccccc;
}

.nav-box{
	display: none;
}

.contents{
	padding: 0;
}

.slider{
	width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	text-align: center;
}

.swiper-container{
	width: 100%;
}

.swiper-wrapper{
	position: relative;
	width: 100%;
}

.swiper-wrapper img{
	width: 100%;
}

.swiper-wrapper p.swiper-cap00{
	position: absolute;
	top: 70%;
	right: 0;
	width: 15em;
	height: 2.0em;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 2.0em;
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
	display: inline-block;
}

.swiper-wrapper p.swiper-cap01{
	position: absolute;
	top: 70%;
	right: 0;
	width: 17em;
	height: 2.0em;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 2.0em;
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
	display: inline-block;
}

.swiper-wrapper p.swiper-cap02{
	position: absolute;
	top: 70%;
	right: 0;
	width: 14em;
	height: 2.0em;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 2.0em;
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
	display: inline-block;
}

.swiper-wrapper p.swiper-cap03{
	position: absolute;
	top: 70%;
	right: 0;
	width: 17em;
	height: 2.0em;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 2.0em;
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
	display: inline-block;
}

.swiper-wrapper p.swiper-cap04{
	position: absolute;
	top: 70%;
	right: 0;
	width: 14em;
	height: 2.0em;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 2.0em;
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
	display: inline-block;
}

.swiper-wrapper p.swiper-cap05{
	position: absolute;
	top: 70%;
	right: 0;
	width: 14em;
	height: 2.0em;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 2.0em;
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
	display: inline-block;
}

.swiper-wrapper p.swiper-cap06{
	position: absolute;
	top: 70%;
	right: 0;
	width: 16em;
	height: 2.0em;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 2.0em;
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
	display: inline-block;
}

.swiper-wrapper p.swiper-cap07{
	position: absolute;
	top: 70%;
	right: 0;
	width: 14em;
	height: 2.0em;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 2.0em;
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
	display: inline-block;
}

/* For Footer */

.widget{
	display: none;
}

.contact{
	width: 90%;
	margin: 0 auto;
	padding: 0.8em 0 1.2em;
	text-align: left;
}

.contact-block{
	display: inline-block;
}

.contact-block:not(:last-child){
	margin: 0 0 0.6em;
}

.contact-title{
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1.7em;
	color: #ffffff;
}

.contact-text{
	font-size: 0.9em;
	line-height: 1.2em;
	color: #ffffff;
}

.copyright{
	font-size: 0.7em;
	line-height: 1.2em;
	color: #ffffff;
}

/* Research page */

.researches-container{
	width: 100%;
	margin: 0;
	padding: 15px 0;
	text-align: left;
}

.researches-container:before{
	width: 6px;
	margin: 0 0 0 1.0em;
	content: "";
	border-left: 6px solid #6a5acd;
	line-height: 1.6em;
	top: 0;
	bottom: 0;
}

.researches-title{
	margin: 0 0 0 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
}

.researches-subcontainer{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.researches-content1{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	vertical-align: middle;
	font-size: 1.0em;
	line-height: 1.2em;
}

.researches-content1 span{
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
}

.researches-content1 span::before{
	content: "";
	margin: 0.8em auto 0;
	display: block;
}

.researches-content1 span::after{
	content: "";
	margin: 0 auto 0.4em;
	display: block;
}

.researches-content1 p:before{
	content: "";
	margin: 0.4em auto;
	display: block;
}

.researches-content1 p{
	width: 86%;
	margin: 0 auto;
	font-size: 1.0em;
	font-weight: normal;
	line-height: 1.5em;
}

.researches-content1 img{
	width: 80%;
	margin: 2em auto;
	padding: 0;
}

.rsleft{
	text-align: left;
}

.rscenter{
	text-align: center;
}

.fadein0{
	opacity: 0;
	transform: translateY(50px);
	transition: all 1.0s;
}

.fadein1{
	opacity: 0;
	transform: translateY(50px);
	transition: all 1.0s;
}

.fadein2{
	opacity: 0;
	transform: translateX(50px);
	transition: all 0.5s;
}

.researches-content2{
	display: none;
}

/*
.researches-content2{
	position: relative;
	width: 100%;
	height: auto;
	margin: 1em auto 0;
	padding: 0;
}
*/

.box-2x1:before{
	content: "";
	display: block;
	padding-top: 75%;
}

.researches-subcontent2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.researches-subsubcontent2{
	margin: 0;
	padding: 0;
	transition: ease-in-out .2s;
	border-collapse: collapse;
}

.researches-checkbox-input{
	display: none;
}

#researches-label01{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 30%;
	height: 15%;
	margin: 0;
	padding: 0;
	transition: ease-in-out .2s;
	border-collapse: collapse;
}

#researches-label02{
	position: absolute;
	top: 5%;
	left: 35%;
	width: 30%;
	height: 15%;
	margin: 0;
	padding: 0;
	transition: ease-in-out .2s;
	border-collapse: collapse;
}

#researches-label03{
	position: absolute;
	top: 5%;
	left: 65%;
	width: 30%;
	height: 15%;
	margin: 0;
	padding: 0;
	transition: ease-in-out .2s;
	border-collapse: collapse;
}

.researches-checkbox{
	z-index: 100;
	color: #4c368b;
	border: 2px solid #f5f5f5;
	border-collapse: collapse;
	background-color: #ffffff;
	text-align: center;
	vertical-align: middle;
	font-size: 1.1m;
	font-weight: bold;
	display: block;
	transition: ease-in-out .2s;
}

#researches-captionback1{
	position: absolute;
	top: 5%;
	left: 5%;
	z-index: 0;
	width: 30%;
	height: 90%;
	margin: 0;
	padding: 0;
	transition: ease-in-out .2s;
	border-left: 2px solid #f5f5f5;
	border-right: 2px dashed #f5f5f5;
	border-bottom: 2px solid #f5f5f5;
	border-collapse: collapse;
}

#researches-captionback2{
	position: absolute;
	top: 5%;
	left: 35%;
	z-index: 0;
	width: 30%;
	height: 90%;
	margin: 0;
	padding: 0;
	transition: ease-in-out .2s;
	border-left: 2px dashed #f5f5f5;
	border-right: 2px dashed #f5f5f5;
	border-bottom: 2px solid #f5f5f5;
	border-collapse: collapse;
}

#researches-captionback3{
	position: absolute;
	top: 5%;
	left: 65%;
	z-index: 0;
	width: 30%;
	height: 90%;
	margin: 0;
	padding: 0;
	transition: ease-in-out .2s;
	border-left: 2px dashed #f5f5f5;
	border-right: 2px solid #f5f5f5;
	border-bottom: 2px solid #f5f5f5;
	border-collapse: collapse;
}

.researches-captionback{
	z-index: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;
	color: #4c368b;
	background-color: #ffffff;
	text-align: center;
	vertical-align: middle;
	font-size: 1.4em;
	font-weight: bold;
	display: block;
	transition: ease-in-out .2s;
}

#researches-subcaption01{
	position: absolute;
	top: 30.0%;
	left: 10.0%;
	width: 80.0%;
	height: 10.0%;
	margin: 0;
	padding: 0;
	border-left: 5px solid #78c2de;
	border-collapse: collapse;
	background-color: #eff7ff;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
}

#researches-subcaption02{
	position: absolute;
	top: 45.0%;
	left: 10.0%;
	width: 20.0%;
	height: 10.0%;
	margin: 0;
	padding: 0;
	border-left: 5px solid #4c368b;
	border-collapse: collapse;
	background-color: #eff7ff;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
}

#researches-subcaption03{
	position: absolute;
	top: 45.0%;
	left: 40.0%;
	width: 20.0%;
	height: 10.0%;
	margin: 0;
	padding: 0;
	border-left: 5px solid #f49e2b;
	border-collapse: collapse;
	background-color: #eff7ff;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
}

#researches-subcaption04{
	position: absolute;
	top: 45.0%;
	left: 70.0%;
	width: 20.0%;
	height: 10.0%;
	margin: 0;
	padding: 0;
	border-left: 5px solid #f08b73;
	border-collapse: collapse;
	background-color: #eff7ff;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
}

#researches-subcaption05{
	position: absolute;
	top: 60.0%;
	left: 10.0%;
	width: 20.0%;
	height: 10.0%;
	margin: 0;
	padding: 0;
	border-left: 5px solid #1aa27f;
	border-collapse: collapse;
	background-color: #eff7ff;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
}

#researches-subcaption06{
	position: absolute;
	top: 60.0%;
	left: 40.0%;
	width: 50.0%;
	height: 10.0%;
	margin: 0;
	padding: 0;
	border-left: 5px solid #78c2de;
	border-collapse: collapse;
	background-color: #eff7ff;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
}

#researches-subcaption07{
	position: absolute;
	top: 75.0%;
	left: 10.0%;
	width: 20.0%;
	height: 10.0%;
	margin: 0;
	padding: 0;
	border-left: 5px solid #78c2de;
	border-collapse: collapse;
	background-color: #eff7ff;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
}

#researches-subcaption08{
	position: absolute;
	top: 75.0%;
	left: 70.0%;
	width: 20.0%;
	height: 10.0%;
	margin: 0;
	padding: 0;
	border-left: 5px solid #78c2de;
	border-collapse: collapse;
	background-color: #eff7ff;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
}

.researches-subcaption{
	z-index: 20;
	transition: ease-in-out .2s;
	border-radius: 0 5px 5px 0;
	display: inline-block;
}

.researches-content3{
	width: 100%;
	margin: 1em auto;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.researches-subbox{
	width: 100%;
	margin: 0.5em auto;
	padding: 0.5em;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	transition: ease-in-out .2s;
}

.researches-subboxtitle{
	width: 95%;
	margin: 0.4em auto;
	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.5em;
	/*border-bottom: 1px solid #dddddd;*/
}

.imgwrap{
	width: 85%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	z-index: 20;
}

.researches-subbox img{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	transition: ease-in-out .2s;
}

.researches-subbox p{
	margin: 1em auto 0.5em;
	padding: 0 1.5em;
	font-size: 0.9em;
	text-align: left;
}

.researches-subbox:hover img{
	transform: scale(1.15);
	transition: ease-in-out .5s;
}

.researches-content4{
	position: relative;
	width: 80%;
	margin: 2em auto 0.3em;
	padding-top: 45%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.researches-content4 iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

.researches-content5{
	width: 80%;
	margin: 0.7em auto 2em;
	font-size: 1.0em;
}

#researches-label01:hover,
#researches-label02:hover,
#researches-label03:hover{
	color: #ffffff;
	background-color: #4c368b;
	transition: ease-in-out .2s;
}

#researches-checkbox01:checked ~ #researches-label01,
#researches-checkbox02:checked ~ #researches-label02,
#researches-checkbox03:checked ~ #researches-label03{
	background-color: #e5e0f3;
	transition: ease-in-out .2s;
}

#researches-checkbox01:checked ~ #researches-label01:hover,
#researches-checkbox02:checked ~ #researches-label02:hover,
#researches-checkbox03:checked ~ #researches-label03:hover{
	color: #ffffff;
	background-color: #4c368b;
	transition: ease-in-out .2s;
}

#researches-box01,
#researches-box02,
#researches-box03,
#researches-box04,
#researches-box05,
#researches-box06{
	color: #000000;
	transition: ease-in-out .2s;
}

/* Thesis page */

.thesis-contents{
	width: 100%;
	margin: 0;
	padding: 15px 0;
	text-align: left;
}

.thesis-contents:before{
	width: 6px;
	margin: 0 0 0 1.0em;
	content: "";
	border-left: 6px solid #6a5acd;
	line-height: 1.6em;
	top: 0;
	bottom: 0;
}

.thesis-title{
	margin: 0 0 0 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
}

.thesis-table{
	width: 90%;
	margin: 1.0em auto 0;
	border-collapse: collapse;
}

.thesis-table th{
	background-color: #f8f8ff;
	padding: 0.5em 0.5em;
}

.thesis-table tr:not(:first-child){
	border-bottom: 2px solid #c8c8ff;
}

.thesis-cell-year{
	width: 5%;
	padding: 0.3em 0.8em;
	text-align: center;
	font-size: 0.95em;
}

.thesis-cell-title{
	width: 75%;
	padding: 0.3em 0.8em;
	text-align: left;
	font-size: 0.95em;
}

.thesis-cell-author{
	width: 20%;
	padding: 0.3em 0.8em;
	text-align: center;
	font-size: 0.95em;
}

/* Members page */

.members-container{
	width: 100%;
	margin: 0 auto;
	padding: 15px 0 0;
	text-align: left;
}

.members-container:before{
	width: 6px;
	margin: 0 0 0 1em;
	content: "";
	border-left: 6px solid #6a5acd;
	line-height: 1.6em;
	top: 0;
	bottom: 0;
}

.members-title{
	margin: 0 0 0 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
}

.members-contents{
	width: 100%;
	margin: 0;
	text-align: center;
}

.members-contents img{
	width: 90%;
	margin: 1em auto;
}

.prof-box{
	width: 95%;
	margin: 0.5em auto;
	padding: 0.5em 0.2em;
	vertical-align: middle;
	background-color: #ffffff;
	font-size: 0.9em;
}

.prof-box img{
	width: 30%;
	min-width: 100px;
	max-width: 130px;
	margin: 1em auto 0.1em;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}

.prof-detail{
	width: 100%;
	margin: 1.5em auto;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.prof-detail ul{
	width: 96%;
	margin: 0.5em auto;
	padding: 0;
}

.prof-detail li{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	font-size: 1.0em;
	line-height: 2.3em;
}

.prof-detail li:not(:last-child){
	border-bottom: 1px dashed #5c8ee0;
}

.members-item1{
	padding: 0 0.5em 0 1.6em;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.3em;
}

.members-item2{
	padding: 0;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.1em;
}

.members-subitem2{
	padding: 0;
	font-size: 0.9em;
}

.members-subbox{
	text-align: left;
}

.members-list{
	margin: 0.5em 0 0 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	font-size: 0.9em;
	line-height: 1.5em;
}

.members-list li:last-child{
	padding: 0 0 0 0.5em;
}

.detail-item{
	padding: 0 0.5em;
	font-size: 1.0em;
	font-weight: bold;
}

.admn-container{
	width: 95%;
	margin: 0.5em auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.admn-box{
	width: 95%;
	margin: 0.5em;
	padding: 2em 0.5em 1em;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	font-size: 1.0em;
}

.admn-box img{
	width: 40%;
	min-width: 100px;
	max-width: 130px;
	margin: 0 auto;
}

.admn-detail{
	width: 90%;
	margin: 1.0em auto 0.5em;
	text-align: center;
}

.student-container{
	width: 95%;
	margin: 0.5em auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.student-box{
	width: 95%;
	margin: 0.5em;
	padding: 2em 1em 1em;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	font-size: 1.0em;
}

.student-box img{
	width: 40%;
	min-width: 100px;
	max-width: 130px;
	margin: 0 auto;
}

.student-detail{
	width: 90%;
	margin: 1.0em auto 0.5em;
	text-align: center;
}

.gopage-wrap{
	width: 86%;
	margin: 0.5em auto;
	padding: 0;
}

.gopage{
	display: inline-block;
	margin: 0.7em 1em 0 0;
	padding: 0.3em 1em;
	text-decoration: none;
	border: solid 2px #4c368b;
	border-radius: 3px;
	color: #4c368b;
	transition: .3s;
}

.gopage span{
	color: #4c368b;
}

.gopage:hover{
	background-color: #4c368b;
}

.gopage:hover span{
	color: #ffffff;
}

.gopage::after{
	content: "\f35d";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	width: 1em;
	height: 1em;
	margin: 0 0 0 0.5em;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.0em;
	color: #4c368b;
}

.gopage:hover::after{
	color: #ffffff;
}

.gopage2{
	font-size: 0.9em;
	padding: 0 0 0 0.5em;
	text-decoration: none;
}

.gopage2 span{
	text-decoration: underline;
}

.gopage2::after{
	content: "\f35d";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	width: 1em;
	height: 1em;
	margin: 0 0 0 0.5em;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 0.8em;
}

.gopage2:hover{
	color: #ff8c00;
	transition: all 0.10s;
}

/* Photos page */

.photos-container{
	width: 100%;
	margin: 0 auto;
	padding: 15px 0 0;
	text-align: left;
}

.photos-container:before{
	width: 6px;
	margin: 0 0 0 1.0em;
	content: "";
	border-left: 6px solid #6a5acd;
	line-height: 1.6em;
	top: 0;
	bottom: 0;
}

.photos-title{
	margin: 0 0 0 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
}

@media screen and (max-width: 499px) {

	.photos-date{
		display: none;
	}

	.photos-mob-title{
	display: block;
	margin: 0.3em 0 0 2.5em;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.0em;
	color: #adadad;
	}

}

@media screen and (min-width: 500px) {

	.photos-mob-title{
	display: none;
	}

}

.photos-contents{
	width: 95%;
	margin: 0.5em auto 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.photos-contents img{
	width: 100%;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 400px) {

	.photos-contents a{
		width: 30%;
		margin: 0.3em;
		padding: 0;
	}

}

@media screen and (max-width: 399px) {

	.photos-contents a{
		width: 45%;
		margin: 0.3em;
		padding: 0;
	}

}

@media screen and (min-width: 400px) {

	.photos-btn-list{
	margin: 0.5em auto;
	padding: 10px 0 30px;
	}

}

@media screen and (max-width: 399px) {

	.photos-btn-list{
	margin: 0.5em auto;
	padding: 10px 0 30px;
	font-size: 0.9em;
	}

}

.photos-btn-on{
	margin: 0.2em;
	padding: 0.2em 0.4em;
	color: #ffffff;
	border-collapse: collapse;
	border: 2px solid #4c368b;
	background-color: #4c368b;
	text-decoration: none;
}

.photos-btn-on span{
	color: #ffffff;
}

.photos-btn-off{
	margin: 0.2em;
	padding: 0.2em 0.4em;
	color: #4c368b;
	border-collapse: collapse;
	border: 2px solid #4c368b;
	background-color: #ffffff;
	text-decoration: none;
}

.photos-btn-off span{
	color: #4c368b;
}

.photos-btn-off:hover{
	background-color: #8a6eb4;
	transition: all 0.2s;
}

/* News page */

.news-container{
	width: 100%;
	margin: 0 auto;
	padding: 15px 0 0;
	text-align: left;
}

.news-container:before{
	width: 6px;
	margin: 0 0 0 1em;
	content: "";
	border-left: 6px solid #6a5acd;
	line-height: 1.6em;
	top: 0;
	bottom: 0;
}

.news-title{
	margin: 0 0 0 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
}

.news{
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	background-color: #ffffff;
}

.news-h2{
	padding: 0 0.5em 0 2.0em;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 2.4em;
	color: #1524ac;
}

.news-table{
	display: none;
}

.news-table tr:not(:last-child){
	border-bottom: 1px dashed #5c8ee0;
}

.news-table-phone{
	width: 90%;
	margin: 0.4em auto 1.5em;
	padding: 0;
	font-size: 1.0em;
	border-collapse: collapse;
	list-style: none;
}

.news-item-phone{
	margin: 0 0 0.4em;
	padding: 0.3em 0 0.5em;
	border-bottom: 1px dashed #5c8ee0;
}

.news-item1{
	margin: 0;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
	font-size: 0.95em;
	font-weight: bold;
	color: #1524ac;
}

.news-item2{
	width: 5em;
	height: 1.5em;
	margin: 0 0 0 0.6em;
	padding: 0.2em 0.1em 0.2em;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
	font-size: 0.8em;
	color: #ffffff;
	display: inline-block;
}

.news-item3{
	width: 100%;
	margin: 0 0 0.4em;
	line-height: 1.5em;
	text-align: left;
	vertical-align: middle;
	font-size: 0.9em;
}

.red{
	background-color: #d9534f;
}

.green{
	background-color: #44ad8e;
}

.orange{
	background-color: #f0ad4e;
}

.purple{
	background-color: #8e44ad;
}

.news-link{
	text-decoration: none;
}

.news-link span{
	text-decoration: underline;
}

.news-link::after{
	content: "\f0c1";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin: 0 0 0 0.2em;
	text-align: center;
	vertical-align: middle;
	font-size: 0.8em;
}

.news-link:hover{
	color: #ff8c00;
	transition: all 0.10s;
}

.news-modal{
	text-decoration: none;
}

.news-modal span{
	text-decoration: underline;
}

.news-modal::after{
	content: "\f2d2";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin: 0 0 0 0.2em;
	text-align: center;
	vertical-align: middle;
	font-size: 0.8em;
}

.news-modal:hover{
	color: #ff8c00;
	transition: all 0.10s;
}

.news-modal-title{
	margin: 0 0 0.5em;
	padding: 0 0 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.3em;
	border-collapse: collapse;
	border-bottom: 1px dashed #5c8ee0;
}

.news-modal-detail{
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	display: inline-block;
}

.news-modal-box p{
	margin: 0.5em 0;
	font-size: 1.0em;
	line-height: 1.0em;
}

.news-btn-list{
	margin: 0.5em auto;
	padding: 10px 0 30px;
}

.news-btn-on{
	margin: 0.2em;
	padding: 0.2em 0.4em;
	color: #ffffff;
	border-collapse: collapse;
	border: 2px solid #4c368b;
	background-color: #4c368b;
	text-decoration: none;
}

.news-btn-on span{
	color: #ffffff;
}

.news-btn-off{
	margin: 0.2em;
	padding: 0.2em 0.4em;
	color: #4c368b;
	border-collapse: collapse;
	border: 2px solid #4c368b;
	background-color: #ffffff;
	text-decoration: none;
}

.news-btn-off span{
	color: #4c368b;
}

.news-btn-off:hover{
	background-color: #8a6eb4;
	transition: all 0.2s;
}

.go-news-list{
	margin: 0;
	padding: 0 0 0 0.8em;
	text-align: center;
	vertical-align: middle;
	font-size: 1.0em;
	line-height: 2.4em;
	font-weight: normal;
	text-decoration: none;
}

.go-news-list::before{
	content: "\f138";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #1524ac;
	margin: 0;
	padding: 0 0.2em 0.3em 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.0em;
	line-height: 2.4em;
}

.go-news-list-item{
	width: 100%;
	height: 100%;
	color: #000000;
}

.go-news-list-item:hover{
	color: #cccccc;
	transition: all 0.2s;
}

.go-rss-feed{
	display: none;
}

.news-feed{
	display: none;
}

.go-twitter-list{
	display: none;
}

/* Access page */

.access-contents{
	width: 100%;
	margin: 0 auto;
	padding: 15px 0 0;
	text-align: left;
}

.access-contents:before{
	width: 6px;
	margin: 0 0 0 1em;
	content: "";
	border-left: 6px solid #6a5acd;
	line-height: 1.6em;
	top: 0;
	bottom: 0;
}

.access-title{
	margin: 0 0 0 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
}

.access-subtitle{
	margin: 0 0 0 1em;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 2.1em;
}

.access-table{
	width: 90%;
	margin: 0.5em auto;
	border-collapse: collapse;
}

.access-table th{
	background-color: #f8f8ff;
	padding: 0.5em 0.5em;
}

.access-table tr:not(:last-child){
	border-bottom: 2px solid #c8c8ff;
}

.actd1st{
	width: 20%;
	padding: 0.3em 0.8em;
	text-align: center;
	font-size: 0.95em;
}

.actd2nd{
	width: 75%;
	padding: 0.3em 0.8em;
	text-align: left;
	font-size: 0.95em;
}

.access-text{
	text-align: left;
	padding: 0 1em 0 2em;
	line-height: 1.6em;
}

.access-map{
	width: 90%;
	margin: 0.5em auto;
}

.access-map iframe{
	width: 100%;
	height: 400px;
	margin: 1em auto;
	border: 0;
}

/* Links pages */

.links-container{
	width: 100%;
	margin: 0 auto;
	padding: 15px 0 15px;
	text-align: left;
}

.links-container:before{
	width: 6px;
	margin: 0 0 0 1em;
	content: "";
	border-left: 6px solid #6a5acd;
	line-height: 1.6em;
	top: 0;
	bottom: 0;
}

.links-title{
	margin: 0 0 0 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
}

.links-list{
	width: 90%;
	margin: 1em auto 0;
	padding: 0;
	font-size: 1.0em;
	line-height: 2.0em;
	border-collapse: collapse;
	list-style: none;
}

.links-list li{
	padding: 0 0 0 1em;
}

.links-list li:not(:last-child){
	border-bottom: 1px dashed #5c8ee0;
}

.links-list a{
	text-decoration: none;
}

.links-list a:hover{
	color: #ff8c00;
	transition: all 0.10s;
}

.links-list span::after{
	content: "\f35d";
	font-family: "Font Awesome 5 Free";
	font-size: 0.9em;
	font-weight: 900;
	margin: 0 0 0 0.5em;
}

/* Publication page */

.pub-container{
	width: 100%;
	margin: 0 auto;
	padding: 15px 0 0;
	text-align: left;
}

.pub-container:before{
	width: 6px;
	margin: 0 0 0 1em;
	content: "";
	border-left: 6px solid #6a5acd;
	line-height: 1.6em;
	top: 0;
	bottom: 0;
}

.pub-title{
	margin: 0 0 0 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
}

.pub-content{
	width: 92.5%;
	margin: 0.5em auto 0;
}

.pub-subcontent{
	width: 60%;
	margin: 1em auto;
	padding: 0;
	text-align: center;
}

.pub-profile{
	width: 100%;
	max-width: 250px;
	margin: auto;
}

.pub-list{
	width: 95%;
	margin: 0 auto;
	padding: 0;
	font-size: 1.0em;
	line-height: 1.5em;
	border-collapse: collapse;
	vertical-align: middle;
}

.pub-list ul{
	margin: 0;
	padding: 0;
}

.pub-list li{
	padding: 0.2em 1.0em 0.3em 0.5em;
	list-style: none;
}

.pub-list li:not(:last-child){
	border-bottom: 1px dashed #5c8ee0;
}

.pub-item{
	line-height: 1.8em;
	font-weight: bold;
}

.pub-item::before{
	content: "\f138";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #6a5acd;
	padding: 0 0.5em 0 0;
}

.pub-link{
	padding: 0 0.5em 0 0;
	text-decoration: none;
	vertical-align: middle;
	line-height: 1.3em;
	white-space: nowrap;
}

.pub-link::after{
	content: "\f35d";
	font-family: "Font Awesome 5 Free";
	font-size: 1.0em;
	font-weight: 900;
	margin: 0 0 0 0.5em;
	vertical-align: middle;
}

.pub-link:hover{
	color: #cccccc;
	transition: all 0.2s;
}

.pub-content input{
	display: none;
}

.pub-content label{
	width: 90%;
	margin: 0.1em auto;
	padding: 0 0 0 0.8em;
	border-left: 6px solid #6a5acd;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 2.0em;
	display: block;
	cursor: pointer;
	transition: all 0.2s;
}

.pub-content label:hover{
	color: #ffffff;
	background-color: #6a5acd;
}

input#pub-label11{
	display: none;
}

label#pub-label11-label{
	width: 90%;
	margin: 10px 0 1em 0.9em;
	padding: 0 0 0 0.8em;
	border-left: 6px solid #6a5acd;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.6em;
	display: block;
	cursor: pointer;
	transition: all 0.2s;
	text-align: left;
	box-sizing: border-box;
}

label#pub-label11-label:hover{
	color: #ffffff;
	background-color: #6a5acd;
}

#pub-label1-label::after,
#pub-label2-label::after,
#pub-label3-label::after,
#pub-label4-label::after,
#pub-label5-label::after,
#pub-label6_01-label::after,
#pub-label6_02-label::after,
#pub-label6_03-label::after,
#pub-label6_04-label::after,
#pub-label7-label::after,
#pub-label8-label::after,
#pub-label9-label::after,
#pub-label10-label::after,
#pub-label11-label::after{
	content: "\f13a";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding: 0 0 0 0.5em;
}

.pub-content .pub-show{
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.5s;
}

#pub-label1:checked ~ #pub-label1-label,
#pub-label2:checked ~ #pub-label2-label,
#pub-label3:checked ~ #pub-label3-label,
#pub-label4:checked ~ #pub-label4-label,
#pub-label5:checked ~ #pub-label5-label,
#pub-label6_01:checked ~ #pub-label6_01-label,
#pub-label6_02:checked ~ #pub-label6_02-label,
#pub-label6_03:checked ~ #pub-label6_03-label,
#pub-label6_04:checked ~ #pub-label6_04-label,
#pub-label7:checked ~ #pub-label7-label,
#pub-label8:checked ~ #pub-label8-label,
#pub-label9:checked ~ #pub-label9-label,
#pub-label10:checked ~ #pub-label10-label,
#pub-label11:checked ~ #pub-label11-label{
	color: #ffffff;
	background-color: #6a5acd;
}

#pub-label1:checked ~ #pub-label1-label::after,
#pub-label2:checked ~ #pub-label2-label::after,
#pub-label3:checked ~ #pub-label3-label::after,
#pub-label4:checked ~ #pub-label4-label::after,
#pub-label5:checked ~ #pub-label5-label::after,
#pub-label6_01:checked ~ #pub-label6_01-label::after,
#pub-label6_02:checked ~ #pub-label6_02-label::after,
#pub-label6_03:checked ~ #pub-label6_03-label::after,
#pub-label6_04:checked ~ #pub-label6_04-label::after,
#pub-label7:checked ~ #pub-label7-label::after,
#pub-label8:checked ~ #pub-label8-label::after,
#pub-label9:checked ~ #pub-label9-label::after,
#pub-label10:checked ~ #pub-label10-label::after,
#pub-label11:checked ~ #pub-label11-label::after{
	content: "\f139";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

#pub-label1:checked ~ #pub-show1,
#pub-label2:checked ~ #pub-show2,
#pub-label3:checked ~ #pub-show3,
#pub-label4:checked ~ #pub-show4,
#pub-label5:checked ~ #pub-show5,
#pub-label6_01:checked ~ #pub-show6_01,
#pub-label6_02:checked ~ #pub-show6_02,
#pub-label6_03:checked ~ #pub-show6_03,
#pub-label6_04:checked ~ #pub-show6_04,
#pub-label7:checked ~ #pub-show7,
#pub-label8:checked ~ #pub-show8,
#pub-label9:checked ~ #pub-show9,
#pub-label10:checked ~ #pub-show10,
#pub-label11:checked ~ #pub-show11{
	max-height: 30000px;
	transition: all 0.5s;
}

#pub-show11{
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.5s;
}

.pub-show{
	width: 96%;
	margin: 0 auto;
	padding: 0;
}

.pub-show ol{
	font-weight: bold;
	background-color: #ffffff;
	margin: 0.5em 0;
	padding: 1em 0.6em 1em 2.4em;
}

.pub-show li{
	border-collapse: collapse;
	padding: 0.7em 0;
	/*border-bottom: 1px solid #cccccc;*/
}

.pub-show p.r1{
	margin: 0;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1.3em;
	display: inline;
}

.pub-show p.r2{
	margin: 0.2em 0 0;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.2em;
	color: #767676;
}

.pub-show p.r3{
	/*margin: 0.2em 0 0.6em;*/
	/*margin: 0.2em 0 0;*/
	margin: 0;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.5em;
}

.pub-show p.r4{
	/*margin: 0.2em 0 0.6em;*/
	margin: 0.2em 0 0;
	font-size: 0.8em;
	font-weight: normal;
	line-height: 1.5em;
}

ul.pub-show-list{
	width: 86%;
	font-weight: bold;
	background-color: #ffffff;
	margin: 0 auto 0 1.5em;
	padding: 0.5em 1em 0.5em 3em;
	box-sizing: border-box;
	text-align: left;
}

li.pub-show-list{
	border-collapse: collapse;
	padding: 0.4em 0;
}

ul.pub-show-sub{
	padding: 0 0 0 1.5em;
	margin: 0.5em 0 1em 0;
}

li.pub-show-sub{
	border-collapse: collapse;
	padding: 0.5em;
}

.pub-show-sub p.r5{
	margin: 0;
	padding: 0.2em 0;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.3em;
}

.pub-inbox{
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.pub-inbox-img{
	width: 50%;
	max-width: 150px;
	display: block;
	margin: 1em auto 0;
	padding: 0;
	vertical-align: top;
}

.doi{
	font-size: 1.0em;
	text-decoration: none;
}

.doi span{
	text-decoration: underline;
	word-break: break-all;
}

.doi:after{
	content: "\f35d";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding: 0 0 0 0.2em;
}

.doi:hover{
	color: #ff8c00;
	transition: all 0.2s;
}

/* Error page */

.contents-400{
	width: 100%;
	margin: 15px auto 0;
	padding: 15px 0;
	text-align: center;
}

.contents-400 img{
	width: 80%;
	margin: 0 auto;
	padding: 0
}

.text-400-ja:before{
	display: block;
	content: "";
	margin: 1em;
}

.text-400-ja{
	font-size: 1.0em;
	font-weight: bold;
	line-height: 2.0em;
}

.sub-400-ja{
	font-size: 0.8em;
	font-weight: normal;
	line-height: 1.0em;
}

.sub-400-ja:after{
	display: block;
	content: "";
	margin: 2em;
}

#page_top{
	width: 100px;
	height: 100px;
	position: fixed;
	z-index: 300;
	right: 0;
	bottom: 0;
}

#page_top a{
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	text-decoration: none;
}

#page_top a::before{
	content: "\f35b";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 4.0em;
	color: #4c368b;
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 3em 0 0;
	text-align: center;
}

@media screen and (min-width: 500px) {
	.phone-br{
		display: none;
	}
}

.breadcrumb{
	margin: 0 0 0 1em;
	padding: 1em 0 0;
	text-align: left;
	font-size: 0.8em;
}

.breadcrumb a{
	text-decoration: none;
}

.breadcrumb a:hover{
	color: #ff8c00;
	transition: all 0.10s;
}

/* Icon */

.icon-google_scholar:before {
	content: "\e900";
	color: #3470b1;
	margin: 0;
	padding: 0 0.4em 0.3em 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2em;
	line-height: 1.3em;
}

.icon-orcid:before {
	content: "\e901";
	color: #9cc04c;
	margin: 0;
	padding: 0 0.4em 0.3em 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2em;
	line-height: 1.3em;
}

.icon-publons:before {
	content: "\e902";
	color: #1f5e8b;
	margin: 0;
	padding: 0 0.4em 0.3em 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2em;
	line-height: 1.3em;
}

.icon-research_gate:before {
	content: "\e903";
	color: #29b4a7;
	margin: 0;
	padding: 0 0.4em 0.3em 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2em;
	line-height: 1.3em;
}

.icon-feedly:before{
	content: "\e904";
	color: #2bb24c;
	margin: 0;
	padding: 0 0.4em 0.3em 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.1em;
	line-height: 1.2em;
}

.icon-tohokuuniv:before {
	content: "\e905";
	color: #3e1586;
	margin: 0;
	padding: 0 0.4em 0.3em 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2em;
	line-height: 1.3em;
}

.icon-tohokuuniveng:before {
	content: "\e905";
	color: #81007d;
	margin: 0;
	padding: 0 0.4em 0.3em 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2em;
	line-height: 1.3em;
}

.icon-rss::before{
	content: "\f09e";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #ffa500;
	margin: 0;
	padding: 0 0.7em 0.3em 0;
	text-align: center;
	vertical-align: middle;
	font-size: 0.9em;
	line-height: 1.2em;
}

/* COVID-19 */

.covid19-container{
	width: 90%;
	margin: 1em auto;
	padding: 1em;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	background-color: #ffffff;
	border: 3px solid #e94709;
	box-sizing: border-box;
}

.covid19-h2{
	padding: 0;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.4em;
	color: #e94709;
}

.covid19-caption{
	width: 100%;
	margin: 1em 0 0;
	padding: 0;
	line-height: 1.6em;
}

.covid19-list{
	width: 100%;
	margin: 0.3em auto 0;
	padding: 0;
	font-size: 1.0em;
	line-height: 1.8em;
	border-collapse: collapse;
	list-style: none;
}

.covid19-list li{
	padding: 0;
	display: table-row;
}

.covid19-list li:before{
	content: "\25E6";
	display: table-cell;
	padding-right: 0.4em;
}

.covid19-list a{
	text-decoration: none;
}

.covid19-list a:hover{
	color: #ff8c00;
	transition: all 0.10s;
}

.covid19-list span::after{
	content: "\f35d";
	font-family: "Font Awesome 5 Free";
	font-size: 0.9em;
	font-weight: 900;
	margin: 0 0 0 0.5em;
}

